<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>带看处罚话术</title>
    <link rel="shortcut icon" href=" favicon.ico" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../box/box.css">
</head>

<body>
    <div class="shortcut">
        <div class="w">
            <ul>
                <li><a href="http://admin.maitian.cn/VIEW/Login/Login.html" target="_blank">麦田在线</a></li>
                <li><a href="https://mail.maitian.cn/coremail/" target="_blank">Maitian邮件系统</a></li>
                <li><a href="http://172.16.8.120/maimai/pages/main/logins.jsp" target="_blank">值班电话管理系统</a></li>
                <li><a href="http://172.16.8.61/forsales/index.jsp" target="_blank">公盘系统</a></li>
                <li><a href="http://172.16.1.3:8080/rentSystem/rent_search.aspx" target="_blank">租赁系统</a></li>
                <li><a href="https://v.zmengzhu.com/play/10141267" target="_blank">麦芽堂</a></li>
                <li><a href="http://yes.itissm.com/user/login" target="_blank">云信留客</a></li>
            </ul>
        </div>
    </div>
    <div class="blank"></div>
    <div class="head w">
        <div class="logo">
            <a href="../index.html"><img src="../images/logo.png"></a>
        </div>
        <div class="nav_list">
            <ul>
                <li><a href="./decoration/pass.html">pass</a></li>
                <li><a href="#">图片</a></li>
                <li><a href="#">授权委托</a></li>
                <li><a href="#">钥匙</a></li>
                <li><a href="#">业绩问题</a></li>
                <li><a href="#">共识</a></li>
                <li><a href="#">制度</a></li>
            </ul>
        </div>

    </div>

    <div class="value w">
        <textarea id="input"></textarea>
        <button onclick="copyText1()">复制以下文本</button>
        <div style="font-size:18px" class="daikanchufaneirong">
            <h3>带看处罚</h3>
            <br>【带看处罚通知】
            <br>经理您好！以下是本区因带看未及时审核涉及的处罚及明细，请及时下发相应业务经理，如有疑问发起申诉。
            <br>数据周期：<em>X</em>月<em>X</em>日-<em>X</em>月<em>X</em>日
            <br>申诉时效：截止到明天（<em>X</em>月3号）上午11：00
            <br>企业微信申诉步骤：企业微信 - 工作台 - 审批 - 房客规则运营部审批 - 文件名称 （其他）- 申请说明 （超时申诉+请假时间）- 审批人 （房客规则举证）- 提交
            <br>【房客规则运营部】13241981176/13241981183
            <br>
        </div>
    </div>
</body>
<script type="text/javascript">
    function copyText1() {
        var input = document.getElementById("input");
        input.value = "【带看审核处罚通知】\n\n经理您好！以下是本区因带看未及时审核涉及的处罚及明细，请及时下发相应业务经理，如有疑问发起申诉。\n数据周期：X月X日 - X月X日\n申诉时效：截止到明天（X月3号）上午11：00\n企业微信申诉步骤：企业微信 - 工作台 - 审批 - 房客规则运营部审批 - 文件名称 （其他）- 申请说明 （超时申诉 + 请假时间）- 审批人 （房客规则举证）- 提交\n【房客规则运营部】13241981176 / 13241981183";
        input.select();//选中文本
        document.execCommand("copy");
    }
</script>

</html>